/* .analyze-playlist-container {
    overflow: auto;
    border-style: solid;
    border-color: white;
    flex: 0.82; 
    
    position: absolute;
    left: 340px;
    top: 0;
    display: flex;
    width: 82%;
    height: 99%;
} */

.analyze-playlist-container h6 {
    font-size: 1.5rem;
}

.playlist-artist-dist {
    font-size: 14px;
    width: 99%;
    height: 100%;
    display: inline-block;
}