.App {
  text-align: center;
  background-color: #1db954;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login-screen {
  min-height: 100vh;
  display: grid;
  place-items: center;
  color: black;
}

.login-btn {
  background-color: white;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 30px;
  font-size: 30px;
}

.login-btn:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}

.main-content {
  display: flex;
  height: 95vh;
  width: 100%;
}

.current-page {
  color: white;
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
  flex: 1;
}

.nav-bar-flex {
  background-color: #323232;
  flex: 0.1;
  height: 95vh;
}

.App-header {
  height: 5vh;
  background-color: #323232;
  display: flex;
  font-size: 20px;
  flex-direction: row;
  align-items: center;
}

.App-header button {
  background-color: #323232;
  color: white;
  padding-right: 10px ;
  border: none;
  cursor: pointer;
  font-size: 40px;
  height: 90%;
}

.App-header button:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}
