.App {
  text-align: center;
  background-color: turquoise;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login-screen {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.login-btn {
  background-color: white;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 30px;
  font-size: 30px;
}

.login-btn:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}

.main-content {
  display: flex;
  height: 100vh;
  width: 100%;
}
.current-page {
  padding: 30px;
  color: white;
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
  width: fill;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: inline-block;
  border: #282c34;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .logout-btn {
  line-height: 22px;
  font-size: 12pt;
  background-color: white;
  color: black;
  margin-top: 10px;
  margin-right: 10px;
  position:absolute;
  top:0;
  right:0;
  cursor: pointer;
  border-radius: 30px;
}

.logout-btn:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
} */
