.App {
  text-align: center;
  border: 1000px;
  background-color: #282c34;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: inline-block;
  border: #282c34;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .nav-bar {
  
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.logout-btn {
  line-height: 22px;
  font-size: 12pt;
  background-color: white;
  color: black;
  margin-top: 10px;
  margin-right: 10px;
  position:absolute;
  top:0;
  right:0;
  cursor: pointer;
  border-radius: 30px;
}

.logout-btn:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}

.login-btn {
  background-color: white;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 30px;
  font-size: 30px;
}

.login-btn:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}