.generate-playlist-container {
    overflow: auto;
    border: 0;
    height: 95vh;
}

.generate-playlist-container button {
    background-color: white;
    color: black;
    border: 5in;
    margin-left: 10px;
    border-radius: 30px;
    cursor: pointer;
    line-height: 20px;
}

.generate-playlist-container button:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}

.generated-playlist-container {
    width: 100%;
    display: inline-block;
    flex-direction: column;
    align-items: center;
}

.generated-playlist-container button {
    background-color: transparent;
    width: 20%;
    height: 20%;
}