.playlist-bar-container {
    display: flex;
}

.user-playlists {
    height: 99%;
    width: 100px;
    overflow: auto;
    position: absolute;
    left: 0;
    top: 0;
    border-style: solid;
    border-color: white;
}

.user-playlists-header {
    position: sticky;
    top: 0;
    background-color: black; 
}

.user-playlists-header h6 {
    margin: 0;
    position: sticky;
    top: 0;
}

.user-playlists::-webkit-scrollbar {
    display: none;
}

.user-playlists button {
    background-color: black;
    color: white;
    cursor: pointer;
    line-height: 20px;
    font-size: 12pt;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-style: solid;
    border-color: white;
}

.user-playlists button:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
  }

.user-playlists p {
    font-size: 20px;
}

.selected-playlist {
    height: 99%;
    width: 200px;
    overflow: auto;
    position: absolute;
    border-style: solid;
    border-color: white;
    left: 120px;
    top: 0;
}

.selected-playlist::-webkit-scrollbar {
    display: none;
}

.selected-playlist p{
    font-size: 14px;
    margin-left: 5px;
}

.selected-playlist-header {
    position: sticky;
    top: 0;
    background-color: black; 
}

.selected-playlist-header h6 {
    margin: 0;
    position: sticky;
    top: 0;
}

.analyze-playlist {
    overflow: auto;
    position: absolute;
    border-style: solid;
    border-color: white;
    left: 340px;
    top: 0;
    display: flex;
    width: 72.5%;
    height: 99%;
}

.analyze-playlist::-webkit-scrollbar {
    display: none;
}

.playlist-artist-dist {
    display:inline-block;
    font-size: 20px;
}