.playlist-bar-container {
    display: flex;
}

.user-playlists {
    overflow: auto;
    flex: 0.06;
    height: 95vh;
    border-style: solid;
    border-color: white;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
}

.user-playlists-header {
    position: sticky;
    top: 0;
    background-color: black; 
}

.user-playlists-header h6 {
    margin: 0;
    position: sticky;
    top: 0;
}

.user-playlists::-webkit-scrollbar {
    display: none;
}

.user-playlists button {
    background-color: black;
    color: white;
    cursor: pointer;
    line-height: 20px;
    font-size: 12pt;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-style: solid;
    border-color: white;
}

.user-playlists button:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
  }

.user-playlists p {
    font-size: 20px;
}

.selected-playlist {
    overflow: auto;
    border-style: solid;
    border-color: white;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    flex: 0.12;
    height: 95vh;
}

.selected-playlist::-webkit-scrollbar {
    display: none;
}

.selected-playlist p{
    font-size: 14px;
    margin-left: 5px;
}

.selected-playlist-header {
    position: sticky;
    top: 0;
    background-color: black; 
}

.selected-playlist-header h6 {
    margin: 0;
    position: sticky;
    top: 0;
}

.analyze-playlist-flex {
    overflow: auto;
    flex: 0.82;
    height: 95vh;
}
