.playlist {
    margin: 1vh;
    padding: 0;
    align-items: center;
    color: white;
}

.playlist img {
    height: 100%;
    width: 100%;
}

.playlist-info {
    margin-left: 0.5em;
}

.playlist-info > h1 {
    font-size: 1em;
}
