.nav-container {
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-container button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    line-height: 1em;
    font-size: 0.6em;
    width: 100%;
    margin-top: 1em;
    height: 50px;
}

.nav-container button:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
    background-color: #8d8d8d;
}
