.nav-container {
    background-color: #040404;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-container button {
    background-color: white;
    color: black;
    border-radius: 30px;
    cursor: pointer;
    line-height: 20px;
    font-size: 11pt;
    width: 120px;
    margin-top: 10px;
}

.nav-container button:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}

/* .nav-header {
   
} */